.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  margin: 20px 0;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;

  @include sm {
    font-size: 1.75rem;
  }

  @include md {
    padding: 30px 20px;
  }

  i {
    margin-right: 15px;

    @include md {
      margin-right: 10px;
    }
  }
}

.btn__blue {
  background: $color-button;
  color: white;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: rgba($color-button, 0.8);
  }
}

.btn__gray {
  background: $color-body;
  color: $color-text;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: rgba($color-body, 0.8);
  }
}

.btn__small {
  font-size: 1.25rem;

  @include md {
    width: 50%;
    padding: 20px;
  }
}