.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;

  [class*="col-"] {
    min-height: 1px;
  }

  @for $i from 1 through $columns {
    .col-xs-#{$i} {
      width: $column-base-width * $i;
    }
  }

  @for $i from 1 through $columns {
    @media (min-width: $breakpoint-sm) {
      .col-sm-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }

  @for $i from 1 through $columns {
    @media (min-width: $breakpoint-md) {
      .col-md-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }

  @for $i from 1 through $columns {
    @media (min-width: $breakpoint-lg) {
      .col-lg-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }
}